body {font-face: "Times New Roman", Times, serif;} 

h1, h2 { color: navy;} 

.special{color: lightgrey; } 

.evenrow{background-color: lightslategray; }  

h1 {font-face: 8 em; } 
h2 {font-face: 5 em; } 


